# Data Dictionary

## Alternative Therapies Dataset

In [4]:
import pandas as pd

ATdict = pd.read_csv("atdict.csv")
ATdict

    Column Name Data Type                 Description
0   Study Title    object                 Trial title
1  Study Status    object     Current status of trial
2    Conditions    object  Disease  trial is studying
3       Sponsor    object      who sponsored th trial
4    Enrollment     float       how many participants
5  Study Design    object         type of study build
6     Locations    object           locations studied
7     Treatment    object    alternative therapy used

## CDC Natural Causes of Death dataset

In [5]:
CDCdeaths = pd.read_csv("CDCdeaths.csv")
CDCdeaths

    Column Name Data Type                                     Description
0    Cause name    object                          natural cause of death
1  Total Deaths   integer  amount of people that died from cause of death